.ContactUsDescription__subtitle {
    color: var(--primary-dark-blue);
    font-family: 'Proza Libre', sans-serif;
    width: 700px;
    margin: 0 auto auto 0;
    font-size: 1.1rem;
}

.ContactUsSubtitle__subtitle {
    color: var(--primary-dark-blue);
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
    margin: 40px 0 30px 0;
}

.CompanyImg__container {
    width: 100%;
    margin-bottom: 60px
} 


.CompanyImg__container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CompanyPhotos__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompanyPhotos__section {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Proza Libre', sans-serif;
    font-weight: bold;
    margin-top: 60px
}

.ContactUs__card {
    margin: auto auto 50px 0;
    width: 80%;
    max-width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
    padding: 50px 20px 40px 35px;
}

.ContactUs__card--item {
    width: 97%;
    margin-bottom: 30px
}

.ContactUs__card--item--display {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 12px;
}

.ContactUs__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUs__img--img {
    margin-bottom: 100px
}

@media only screen and (max-width: 1279px) {
    .ContactUsDescription__subtitle {
        width: 100%;
        font-size: 0.9rem;
    }
    .CompanyPhotos__container {
        display: flex;
        flex-direction: column;
        padding: 30px 0 20px 0;
    }
    .CompanyPhotos__section {
        margin-top: 40px;
        font-size: 1.6rem;
    }
    .CompanyImg__container {
        margin-bottom: 40px
    }
    .CompanySubtitle__subtitle {
        font-size: 1.3rem;
        margin: 40px 0 30px 0;
    }
    .ContactUs__card {
        width: 100%;
        margin-bottom: 40px;
        padding: 35px 25px
    } 
    .ContactUs__card--item, 
    .ContactUs__card--item--display {
        margin-bottom: 20px;
        width: 100% !important;
        margin-right: 0;
    }
    .ContactUs__button {
        margin-top: 10px
    }
    .ContactUsSubtitle__subtitle {
        font-size: 1.5rem;
    }
    .ContactUs__img--img {
        width: 100%
    }
}