.DetailsPage__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.DetailsPage__date {
    color: var(--primary-dark-blue);
    font-family: 'Proza Libre', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2.5px;
    margin-bottom: 40px
}

.DetailsPage__paragraphs--container {
    width: 50%;
    margin-bottom: 40px
}

.Demos__button--watchDemo > a {
    text-decoration: none;
}

@media only screen and (max-width: 1279px) {
    .DetailsPage__paragraphs--container {
        width: 100%;
    }
    .Demos__button--watchDemo {
        margin: 0 0 40px 0;
    }
}